<div class="uk-margin uk-width-2xlarge uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
    <table class="uk-table">
        <caption>
            Farm Address added to date
        </caption>
        <thead>
        <th>Farm Name</th>
        <th>Eircode</th>
        <th>Main Enterprise</th>
        <th>County</th>
        <th>Sales Person</th>
        </thead>
        <tbody class="uk-text-left">
        {{#each pois}}
            <tr>
                <td>{{farmer_name}}</td>
                <td>{{eircode}}</td>
                <td>{{method}}</td>
                <td>{{county}}</td>
                <td>{{sales_person.firstName}} {{sales_person.lastName}}</td>
                <td>
                    <a href="/delete-poi/{{_id}}" class="ui tiny red button">Delete Poi</a>
                </td>
                <td><div class="uk-card uk-card-primary uk-card-body">
                    <h3 class="uk-card-title">Image Upload</h3>
                    <form class="uk-form-verticle" action="/uploadfile" method="POST" enctype="multipart/form-data">
                        <div class="uk-margin">
                            <label class="uk-form-label" for="form-horizontal-text">Select Image</label>
                            <div class="uk-form-controls">
                                <input type="file" class="uk-input" name="imagefile" accept="image/png, image/jpeg">
                            </div>
                        </div>
                        <p uk-margin>
                            <input type="submit" value="Upload" class="uk-button uk-button-default">
                        </p>
                    </form>
                </div>
                </td>

            </tr>
        {{/each}}
        </tbody>
    </table>
</div>